<div class="OroVerde-container">
    <div>
        <img class="OroVerde-logo" [src]="logo">
    </div>
    <div class="OroVerde-socialNetwork">
        <a href="https://truckersmp.com/vtc/53718" target="_blank">
            <fa-icon [icon]="faTruck"></fa-icon>
        </a>
        <a href="https://discord.gg/JyG3KjvTWr" target="_blank">
            <fa-icon [icon]="faDiscord"></fa-icon>
        </a>
        <a href="https://www.facebook.com/oroverde.company" target="_blank">
            <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
    </div>
</div>
